altgraph==0.17
certifi==2020.12.5
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
importlib-metadata==3.4.0
iso8601==0.1.14
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.1
opencv-python==4.5.1.48
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyserial==3.5
pywin32-ctypes==0.2.0
PyYAML==5.4.1
serial==0.0.97
six==1.15.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.4.0
